.main__description {
	width: 100%;

	.container__img {
		width: 100%;
		max-width: 80rem;
		padding: 2rem;

		.main__img {
			margin: 0 auto;
		}
	}

	.none-home {
		display: flex;
	}
}

@media (min-width: 1000px) {
	.main__description {
		position: relative;

		.container__img {
			max-width: 70rem;

			.main__img {
				width: 60%;
				margin: 1rem;
			}
		}

		.main__introduction {
			margin-top: 0rem;
			position: absolute;
			left: 50%;
		}
	}
}
