.nav__container {
	.bakcground__img {
		display: none;
	}

	.navbar {
		.menu {
			display: none;
		}

		.menu__desktop {
			display: flex;

			.menu__desktop-link {
				color: $secondary-color;
				display: block;
				font-size: 1.6rem;
				font-weight: 900;
				margin: 0 2rem;
				transition: color 0.3s;

				&:hover {
					transition: color 0.3s;
					color: darken($color: $secondary-color, $amount: 8);
				}
			}

			.menu__desktop-active {
				color: darken($color: $secondary-color, $amount: 8);
			}
			.mr-2 {
				padding-right: 0.6rem;
			}
		}
	}
}
