.about {
	width: 90%;
	margin: 0 auto;
	margin-top: 4rem;
	max-width: 80rem;

	.about__title {
		text-align: center;
		margin-bottom: 3rem;
		font-size: 2rem;
		font-weight: 900;
		color: $secondary-color;
	}

	.about__text-content {
		margin-top: 1.5rem;
		font-size: 1.4rem;
		text-align: justify;
		line-height: 2rem;
	}

	.strong {
		font-weight: 900;
	}

	.buttons__cv {
		width: 100%;
		display: flex;
		margin-top: 4rem;
		justify-content: center;
		font-size: 1.4rem;

		.show__cv,
		.download__cv {
			max-width: 20rem;
			width: 60%;
			height: 4rem;
			background-color: $secondary-color;
			margin: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			cursor: pointer;
			font-weight: 600;
			transition: background-color 0.3s;
			color: $white-off;

			&:hover {
				transition: background-color 0.3s;
				background-color: darken($color: $secondary-color, $amount: 4);
			}

			.text {
				display: block;
				margin-right: 1rem;
			}
		}
	}

	.main__logo {
		width: 30%;
		max-width: 16rem;
		display: flex;
		margin: 0 auto;
		margin-top: 12rem;
		margin-bottom: 12rem;

		.img {
			width: 100%;
			object-fit: cover;
		}
	}
}
