.aside {
	display: block;
	width: 20%;
	background-color: $secondary-color;
	border-radius: 6px;
	font-size: 1.4rem;
	line-height: 2.5rem;
	min-width: 200px;
	margin-left: 1rem;
	position: sticky;
	top: 14rem;
	height: 49rem;
	margin-bottom: 10rem;

	.aside__description {
		width: 85%;
		margin: 0 auto;
		padding-top: 2rem;
		line-height: 2.5rem;
	}

	.aside__contact {
		width: 85%;
		margin: 0 auto;
		margin-top: 2rem;

		.aside__subtitle {
			font-weight: 900;
		}
		.aside-link {
			margin-top: 1rem;
			display: block;
			border-radius: 6px;
			display: flex;
			align-items: center;
			padding-left: 0.5rem;
			background-color: darken($color: $secondary-color, $amount: 4);
			color: $white-off;

			.fab,
			.fas {
				margin-right: 1rem;
			}
		}
	}
}

@media (max-width: 600px) {
	.aside {
		display: none;
	}
}

@media (max-width: 1100px) {
	.aside {
		height: 52rem;
	}
}
