.footer {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-top: 1px solid $white-off;

	.footer__background {
		width: 100%;
		opacity: 0.1;
		position: absolute;
		display: flex;
		z-index: -1;
		height: 65vh;

		.footer__background-img {
			width: 100%;
			object-fit: cover;
		}
	}

	.footer__list {
		width: 100%;
		margin-top: 6rem;

		.link {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 3.2rem;
			font-size: 1.2rem;
			font-weight: 900;

			a {
				color: $white-off;
				text-decoration: overline;
				transition: color 0.3s;

				&:hover {
					transition: color 0.3s;
					color: $primary-color;
				}
			}
		}
	}

	.footer__subtitle {
		width: 85%;
		margin: 0 auto;
		text-align: center;
		margin-top: 6rem;
		font-size: 1.4rem;
	}

	.footer__socials {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 3.2rem;

		.socials__container {
			width: 4rem;
			font-size: 3rem;
			text-align: center;

			a {
				color: $white-off;
				display: block;
				transition: all 0.3s;

				&:hover {
					transition: all 0.3s;
					transform: scale(1.1);
					color: $primary-color;
				}
			}
		}
	}

	.footer__reserved {
		margin-top: 4rem;
		text-align: center;
	}

	.btn-contact {
		position: fixed;
		background-color: $secondary-color;
		border: solid 0.2rem darken($color: $secondary-color, $amount: 8);
		border-radius: 6px;
		z-index: 0;
		bottom: 0;
		right: 0;
		margin-bottom: 2rem;
		margin-right: 1rem;
		width: 10rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		font-weight: 700;
		cursor: pointer;
		opacity: 0.9;
	}

	.collapsed-contact {
		z-index: 500;
	}
}

.contact {
	position: fixed;
	width: 100vw;
	top: 0;
	height: 100vh;
	z-index: 499;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 320px;
	font-size: 1.4rem;
	transition: opacity 0.3s;
	margin-left: 100%;
	opacity: 0;

	.aside__contact {
		width: 85%;
		margin: 0 auto;
		margin-top: 2rem;
		background-color: $secondary-color;
		border-radius: 6px;
		padding: 1rem;
		max-width: 400px;
		z-index: 1000;

		.aside__subtitle {
			font-weight: 900;
		}

		.aside-link {
			margin-top: 1rem;
			display: block;
			border-radius: 6px;
			display: flex;
			align-items: center;
			padding-left: 0.5rem;
			background-color: darken($color: $secondary-color, $amount: 4);
			color: $white-off;
			height: 3.5rem;

			.fab {
				margin-right: 1rem;
			}
		}
	}
}

.show-contact {
	transition: opacity 0.3s;
	margin-left: 0%;
	opacity: 1;
}

@media (min-width: 600px) {
	.footer {
		.btn-contact {
			display: none;
		}
	}
}
