.container__technologies {
	max-width: 80rem;
	margin: 0 auto;
}

.main__subtitle {
	width: 85%;
	margin: 0 auto;
	margin-top: 8rem;
	font-weight: 900;
	font-size: 2rem;
	margin-bottom: 4rem;
	color: $secondary-color;
}

.grid__technologies {
	width: 85%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	.grid__item {
		margin-top: 1.5rem;
		font-size: 2.5rem;
		display: flex;

		.img-alt {
			font-size: 1.6rem;
			margin-left: 1rem;
		}

		.item-img {
			width: 2.6rem;
			border-radius: 60%;
		}
	}
}

.technologies__text {
	width: 85%;
	margin: 0 auto;
	margin-top: 4rem;
	font-weight: 600;
	text-align: justify;
	line-height: 1.8rem;
}

.subtitle-sub {
	margin-top: 4rem;
}

.testing {
	width: 85%;
	margin: 0 auto;

	.jest {
		margin-top: 1.5rem;
		font-size: 2.5rem;
		display: flex;

		.jest__img {
			width: 3rem;
			border-radius: 0.5rem;
		}
		.jest__title {
			font-size: 1.6rem;
			margin-left: 1rem;
		}
	}

	.enzyme {
		margin-top: 1.5rem;
		font-size: 2.5rem;
		display: flex;

		.enzyme__img {
			width: 3rem;
			border-radius: 0.5rem;
		}
		.enzyme__title {
			font-size: 1.6rem;
			margin-left: 1rem;
		}
	}
}

.tools {
	width: 85%;
	margin: 0 auto;

	.tools__item {
		margin-top: 1.5rem;
		font-size: 2.5rem;
		display: flex;

		.item-img {
			width: 2.5rem;
			background-color: $white-off;
			border-radius: 60%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $background-color;
			font-size: 1rem;
			font-weight: 900;
		}

		.tools-alt {
			font-size: 1.6rem;
			margin-left: 1rem;
		}
	}

	.pb-5 {
		padding-bottom: 7rem;
	}
}
