//Fonts

$primary-color: #29abe2;
$secondary-color: #0e8d67;
$background-color: #282c34;
$white-off: #f9f9f9;
$black-soft: #aaa;
$black: #292929;

html,
body {
	font-family: 'Nunito Sans', sans-serif;
	color: $white-off;
	font-size: 62.5%;
}
body {
	font-size: 1rem;
	min-width: 32rem;
	background-color: $black;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

//mobile stules
@import './mobile.scss';
